/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
* {
    margin: 0px;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
}

#title {
    background-color: #1D3557;
    color: white;
    padding: 8px 16px;

    text-shadow: 0px 0px 1px black;
    font-size: 22px;
}

#welcome-msg {
    background-color: #457B9D;
    width: 350px;

    padding: 2px 8px;
    margin-top: 10px;

    color: white;
    text-shadow: 0px 0px 1px black;
    font-size: 14px;
    
}

#header {
    background-image: url("./images/burley-courthouse.jpeg");
    background-size: cover;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-div {
    background-color: #F1FAEE;

}

#activities-div {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.activities {
    /* margin: 40px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities-img {
    border-radius: 50%;
    height: 100px;
}

.radius-util {
    border-radius: 10px;
}

.color-util {
    color: #1D3557;
}

p {
    font-size: 10px;
}

#guide-card {
    background-color: #A8DADC;
    width: 300px;
    height: 200px;
    margin: 40px auto;

    border-bottom: 4px solid #1D3557;
    border-radius: 6px;

    display: flex;
    justify-content: space-around;
    padding: 10px;
}

 #guide-description {
    font-style: italic;
    width: 150px;
    padding-top: 20px;
    font-size: 12px;
}

h3, h4 {
    padding-top: 20px;
}

.activities-header {
    font-weight: bold;
    font-size: 12px;

    margin: 12px 0;
    width: 100px;
}

.activities-desc {
    width: 150px;
    font-size: 12px;
}