* {
    margin: 0;
}

body {

    /* text-align: center; */
    background-color: #EDEDED;

    /* center content on page */
    max-width: 375px;
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #C6C6C6;
    background-color: white;

    padding: 10px;

}

img {
    display: inline-block;
}

p {
    font-size: 13px;
    margin-top: 10px; 
    margin-left: 10px;
}

.bold-text {
    font-weight: bold;
}

.block {
    /* Seperaete onto new line by making it a block element */
    display: block;
}

#logo-el {
    width: 150px;
    height: 60px;
}

.avatar-el {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: 12px;
}

.post-el {
    width: 375px;
    height: 375px;
}

.section-user-post {
    background-color: white;
    margin-bottom: 20px;
}

.user {
    display: flex;
    align-items: center;
    padding: 0 0 8px 8px;
}

.buttons {
    padding: 10px 0 0 10px;
}

button {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    background-size: cover;
    display: inline-block;
    margin-right: 4px;
    
}

button:hover {
    cursor: pointer;
}

button:active {
    width: 25px;
    height: 23px;
}

.button-like {
    background-image: url("assets/images/icon-heart.png");
}

.button-comment {
    background-image: url("assets/images/icon-comment.png");
}

.button-share {
    background-image: url("assets/images/icon-dm.png");
}

.section-2 {
    padding-bottom: 15px;
}