* {
    margin: 0;
}

body {

    text-align: center;
    
    border: 2px solid red;
    background-color: #EDEDED;

    /* center content on page */
    max-width: 400px;
    margin: 0 auto;
    font-family: sans-serif;
}


header {
    
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #C6C6C6;
    background-color: white;

    padding: 10px;

}

img {
    display: inline-block;
}

#logo-el {
    width: 150px;
    height: 60px;
}

.avatar-el {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: 12px;
}

#post-el {
    width: 375px;
    height: 375px;
}